services:
  # 游 Traefik Reverse Proxy
  traefik:
    image: traefik:v2.11.30
    container_name: traefik
    restart: always
    command:
      # Puntos de entrada
      #- --entrypoints.web.address=:80
      #- --entrypoints.websecure.address=:443
      # Proveedores
      #- --providers.docker=true
      #- --providers.docker.exposedbydefault=false
      #- --providers.file.directory=/etc/traefik/dynamic_conf
      #- --providers.file.watch=true
      # API & Dashboard
      - --api.dashboard=true
      - --api.insecure=false
      # Resolvedor ACME (para el certificado de prueba)
      #- --certificatesresolvers.stagingacme.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      #- --certificatesresolvers.stagingacme.acme.email=test@example.com
      #- --certificatesresolvers.stagingacme.acme.storage=/acme_data/acme.json
      #- --certificatesresolvers.stagingacme.acme.tlschallenge=true
      #- --entrypoints.traefik-port.address=:8080
    ports:
      - "80:80"
      - "443:443"
      #- "8080:8080" # Dashboard
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic_conf:/etc/traefik/dynamic_conf:ro
      - ./traefik/acme_data:/acme_data
    networks:
      - proxy

  # 游깷 Apache HTTP Server
  apache:
    build:
      context: ./apache
      dockerfile: Dockerfile_2.4
    container_name: apache
    restart: always
    volumes:
      # Montamos la configuraci칩n de vhosts
      - ./apache/vhosts:/etc/apache2/sites-enabled
      # Montamos las carpetas de los sitios
      - ./sites:/var/www/html
    # Traefik Labels: Redirecci칩n HTTP a HTTPS
    #labels:
    #  - "traefik.enable=true"
    #  - "traefik.docker.network=proxy"
    #  - "traefik.http.services.apache.loadbalancer.server.port=80"
    #  # Redirige todo el tr치fico HTTP a HTTPS
    #  - "traefik.http.routers.http-catchall.entrypoints=web"
    #  - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
    #  - "traefik.http.routers.http-catchall.middlewares=https-redirect"
    #  - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
    networks:
      - proxy
      - default # Para comunicarse con FPM (ProxyPassMatch usa el nombre del servicio)

  # 游냊 Contenedores de PHP-FPM (Globales)
  php74:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_7.4
    container_name: php74
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default

  php84:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_8.4
    container_name: php84
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default
      
  # MariaDB
  mariadb:
    # mariadb 11 no tiene una imagen espec칤fica en Docker Hub para "mariadb:11", usaremos la 칰ltima compatible
    image: mariadb:lts
    container_name: mariadb
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env # Carga las variables de entorno desde el archivo .env
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/initdb:/docker-entrypoint-initdb.d
    networks:
      - default

networks:
  proxy:
    # Red externa para Traefik y los servicios que expone
    external: true
  default:
    # Red interna para Apache, PHP y MariaDB, para que un puerto expuesto (ports) sea accesible desde tu m치quina host (usando localhost o 127.0.0.1), la red  debe ser internal: false.
    internal: false