services:
  # Traefik Reverse Proxy
  traefik:
    image: traefik:v2.11.30
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic_conf:/etc/traefik/dynamic_conf:ro
      - ./traefik/acme_data:/acme_data
    networks:
      - proxy
    labels:
      # ROUTER HTTPS (Acceso seguro)
      - "traefik.http.routers.dashboard.rule=Host(`traefik.local`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=stagingacme"
      - "traefik.http.routers.dashboard.service=api@internal" # <-- Servicio interno del Dashboard

  # Apache HTTP Server
  apache:
    build:
      context: ./apache
      dockerfile: Dockerfile_2.4
    container_name: apache
    restart: always
    volumes:
      # Montamos la configuración de vhosts
      - ./apache/vhosts:/etc/apache2/sites-enabled
      # Montamos las carpetas de los sitios
      - ./sites:/var/www/html
    # Traefik Labels: Redirección HTTP a HTTPS
    #labels:
    #  - "traefik.enable=true"
    #  - "traefik.docker.network=proxy"
    #  - "traefik.http.services.apache.loadbalancer.server.port=80"
    #  # Redirige todo el tráfico HTTP a HTTPS
    #  - "traefik.http.routers.http-catchall.entrypoints=web"
    #  - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
    #  - "traefik.http.routers.http-catchall.middlewares=https-redirect"
    #  - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
    networks:
      - proxy
      - default # Para comunicarse con FPM (ProxyPassMatch usa el nombre del servicio)

  # Contenedores de PHP-FPM (Globales)
  php74:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_7.4
    container_name: php74
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default

  php84:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_8.4
    container_name: php84
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default
      
  # MariaDB
  mariadb:
    image: mariadb:lts
    container_name: mariadb
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/initdb:/docker-entrypoint-initdb.d
    networks:
      - default

  # Adminer (Gestor de bases de datos)
  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    networks:
      - default
      - proxy # Debe estar en la red de Traefik
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      # Define el router web (puerto 80)
      #- "traefik.http.routers.adminer-http.rule=Host(`adminer.local`)"
      #- "traefik.http.routers.adminer-http.entrypoints=web" # Escucha en HTTP (80)
      #- "traefik.http.routers.adminer-http.middlewares=redirect-to-https@file" # Redirecciona a HTTPS
      # Define el router websecure (puerto 443)
      - "traefik.http.routers.adminer.rule=Host(`adminer.local`)"
      - "traefik.http.routers.adminer.entrypoints=websecure" # Escucha en HTTPS (443)
      # Habilita TLS usando el resolvedor de certificados stagingacme
      - "traefik.http.routers.adminer.tls=true"
      - "traefik.http.routers.adminer.tls.certresolver=stagingacme"
      # Define el servicio (puerto interno del contenedor adminer es el 8080)
      - "traefik.http.services.adminer.loadbalancer.server.port=8080"

  # phpMyAdmin (Alternativa a Adminer)
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
    networks:
      - default
      - proxy # Debe estar en la red de Traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      # Define el router web (puerto 80)
      #- "traefik.http.routers.phpmyadmin-http.rule=Host(`phpmyadmin.local`)"
      #- "traefik.http.routers.phpmyadmin-http.entrypoints=web" # Escucha en HTTP (80)
      #- "traefik.http.routers.phpmyadmin-http.middlewares=redirect-to-https@file" # Redirecciona a HTTPS
      # Define el router websecure (puerto 443)
      - "traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.local`)"
      - "traefik.http.routers.phpmyadmin.entrypoints=websecure" # Escucha en HTTPS (443)
      # Habilita TLS usando el resolvedor de certificados stagingacme
      - "traefik.http.routers.phpmyadmin.tls=true"
      - "traefik.http.routers.phpmyadmin.tls.certresolver=stagingacme"
      # Define el servicio (puerto interno del contenedor phpMyAdmin es el 80)
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"

networks:
  proxy:
    external: true
  default:
    # Red interna para Apache, PHP y MariaDB
    internal: false