services:
  # Traefik Reverse Proxy
  traefik:
    image: traefik:v2.11.30
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic_conf:/etc/traefik/dynamic_conf:ro
      - ./traefik/acme_data:/acme_data
    networks:
      - proxy

  # Apache HTTP Server
  apache:
    build:
      context: ./apache
      dockerfile: Dockerfile_2.4
    container_name: apache
    restart: always
    volumes:
      # Montamos la configuración de vhosts
      - ./apache/vhosts:/etc/apache2/sites-enabled
      # Montamos las carpetas de los sitios
      - ./sites:/var/www/html
    # Traefik Labels: Redirección HTTP a HTTPS
    #labels:
    #  - "traefik.enable=true"
    #  - "traefik.docker.network=proxy"
    #  - "traefik.http.services.apache.loadbalancer.server.port=80"
    #  # Redirige todo el tráfico HTTP a HTTPS
    #  - "traefik.http.routers.http-catchall.entrypoints=web"
    #  - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
    #  - "traefik.http.routers.http-catchall.middlewares=https-redirect"
    #  - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
    networks:
      - proxy
      - default # Para comunicarse con FPM (ProxyPassMatch usa el nombre del servicio)

  # Contenedores de PHP-FPM (Globales)
  php74:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_7.4
    container_name: php74
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default

  php84:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile_8.4
    container_name: php84
    restart: always
    env_file:
      - .env
    volumes:
      - ./sites:/var/www/html
    networks:
      - default
      
  # MariaDB
  mariadb:
    image: mariadb:lts
    container_name: mariadb
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/initdb:/docker-entrypoint-initdb.d
    networks:
      - default

networks:
  proxy:
    external: true
  default:
    # Red interna para Apache, PHP y MariaDB
    internal: false