global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Configuración de log
log:
  level: INFO

# Acceso al Dashboard (puerto 8080, solo disponible para la red interna)
api:
  dashboard: true
  insecure: false

# Módulos estáticos AÑADIDOS: EntryPoints
entryPoints:
  web:
    address: ":80"
    http:
      redirections: # (Redirige a 443)
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

# Módulos estáticos AÑADIDOS: Certificate Resolver
certificatesResolvers:
  #ovhresolver: 
  stagingacme: # 👈 Nombre del Resolutor
    acme:
      #caServer: https://acme-v02.api.letsencrypt.org/directory # Servidor de PRODUCCIÓN
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # Servidor de STAGING
      email: user@example.com
      #storage: /acme_data/acme.json # producción
      storage: /acme_data/stagingacme.json #staging
      httpChallenge:
        entryPoint: web

providers:
  # Proveedor Docker
  docker:
    exposedByDefault: false
    network: proxy # Asegura que Traefik solo escuche en la red 'proxy'
  
  # Proveedor de archivos: Carga la configuración dinámica de routers y middlewares
  file:
    directory: /etc/traefik/dynamic_conf
    watch: true # Observa cambios en el directorio para recargar dinámicamente