# traefik/traefik.yml

global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Configuraci칩n de log
log:
  level: INFO

# Acceso al Dashboard (puerto 8080, solo disponible para la red interna)
api:
  dashboard: true
  insecure: true

# M칩dulos est치ticos A칌ADIDOS: EntryPoints
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

# M칩dulos est치ticos A칌ADIDOS: Certificate Resolver
certificatesResolvers:
  #ovhresolver: 
  #  acme:
  #    caServer: https://acme-staging-v02.api.letsencrypt.org/directory
  #    email: hola@alfonsoalvar.com
  #    storage: /acme_data/ovhacme.json

  #    dnsChallenge:
  #      provider: ovh
        #envStableName: OVHA
  #      delayBeforeCheck: 30
  stagingacme: # 游녣 Nombre del Resolutor
    acme:
      #caServer: https://acme-v02.api.letsencrypt.org/directory # Servidor de PRODUCCI칍N
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # Servidor de STAGING
      email: hola@alfonsoalvar.com
      #storage: /acme_data/acme.json # producci칩n
      storage: /acme_data/stagingacme.json #staging
      # 游댐 Usaremos el Desaf칤o HTTP (puerto 80)
      httpChallenge:
        entryPoint: web # Traefik usar치 el entrypoint 'web' (puerto 80) para el desaf칤o (ngrok)
      #tlsChallenge: {} # Desactivado
  #passthrough: true
  #stores: default

# Proveedor Docker (ya definido en docker-compose, pero se puede duplicar aqu칤)
providers:
  docker:
    exposedByDefault: false
    network: proxy # Asegura que Traefik solo escuche en la red 'proxy'
  
  # Proveedor de archivos: Carga la configuraci칩n din치mica de routers y middlewares
  file:
    directory: /etc/traefik/dynamic_conf
    watch: true # Observa cambios en el directorio para recargar din치micamente