# docker2.local.yml

http:
  routers:
    docker2-local:
      entryPoints:
        - web 
      rule: "Host(`docker2.local`)"
      middlewares:
        #- redirect-to-https@file
        - "strip-root-prefix@file"
      service: "apache-service@file"

    docker2-local-ssl:
      entryPoints:
        - websecure
      rule: "Host(`docker2.local`)"
      service: "apache-service@file"
      middlewares:
        - "strip-root-prefix@file"
      tls: {}
