<VirtualHost *:80> 
    ServerName docker1.local
    DocumentRoot /var/www/html/docker1.local

    <Directory /var/www/html/docker1.local>
        AllowOverride All  
        Require all granted
        DirectoryIndex index.php index.html
    </Directory>

    # PROXY REVERSE (Necesario para el RewriteRule [P] en .htaccess)
    ProxyPassReverse / fcgi://php74:9000/
</VirtualHost>