<VirtualHost *:80> 
    ServerName dockerlamp-dev-2.alfonsoalvar.com
    #ServerAlias docker3.local
    DocumentRoot /var/www/html/docker4.local

    <Directory /var/www/html/docker4.local>
        AllowOverride All
        Require all granted
        DirectoryIndex index.php index.html
    </Directory>

    # Enviar archivos .php
    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://php84:9000/var/www/html/docker4.local/$1
</VirtualHost>